@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

.sidebar-expanded {
  width: 200px;
}

.sidebar-collapsed {
  width: 53px;
}

@media (max-width: 640px) {
  .task-create-modal,
  .view-task-modal {
    width: 100% !important;
  }
}

@media (max-width: 900px) {
  .dashboard-task-matrices {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .first-proj-matrix-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .first-proj-matrix-row-1 {
    grid-column: span 2;
  }
  .first-proj-matrix-row-2,
  .first-proj-matrix-row-3 {
    grid-column: span 1 / span 1;
  }
}

@media (max-width: 800px) {
  .top-bar {
    width: 100% !important;
    padding-right: 64px;
  }
  .dashboard-overall-matricies {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .dashboard-overall-matricies-1 {
    grid-column: span 2 / span 2;
  }
  .dashboard-overall-matricies-2,
  .dashboard-overall-matricies-3 {
    grid-column: span 1 / span 1;
  }
}

@media (max-width: 650px) {
  .secnd-proj-matrix-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .secnd-proj-matrix-row-1,
  .secnd-proj-matrix-row-2 {
    grid-column: span 1 / span 1;
  }
  .secnd-proj-matrix-row-3 {
    grid-column: span 2 / span 2;
  }
  .task-page-timer {
    width: 75%;
  }
  .table-task-title {
    font-size: 18px;
  }
  .table-task-head {
    font-size: 12px;
  }
  .table-task-data {
    font-size: 10px;
  }
  .table-task-name-head,
  .table-task-name-data {
    width: 200px;
  }
  .view-task-modal-wrapper {
    right: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .dashboard-overall-matricies {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .dashboard-overall-matricies-1 {
    grid-column: span 1 / span 1;
  }
  .dashboard-overall-matricies-2,
  .dashboard-overall-matricies-3 {
    grid-column: span 1 / span 1;
  }
  .dashboard-task-matrices {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .first-proj-matrix-row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .first-proj-matrix-row-1 {
    grid-column: span 1;
  }
  .first-proj-matrix-row-2,
  .first-proj-matrix-row-3 {
    grid-column: span 1 / span 1;
  }
  .secnd-proj-matrix-row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .secnd-proj-matrix-row-1,
  .secnd-proj-matrix-row-2 {
    grid-column: span 1 / span 1;
  }
  .secnd-proj-matrix-row-3 {
    grid-column: span 1 / span 1;
  }
}

@media (max-width: 767px) {
  .sidebar-layout-div {
    z-index: 10;
  }
  .sidebar-toggle {
    padding: 0px;
  }
  .layout-outlet-div {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .sidebar-collapsed {
    display: none;
  }
  .sidebar-toggle-topbar {
    display: inline;
  }
  .top-bar {
    justify-content: space-between;
    padding-right: 16px;
  }
  .topbar-not-expanded,
  .layout-outlet-not-expanded {
    width: 100%;
  }
  .layout-outlet-not-expanded {
    margin-left: 0px;
  }
  .table-task-title {
    font-size: 16px;
  }
  .table-task-head {
    font-size: 10px;
  }
  .table-task-data {
    font-size: 10px;
  }
  .table-task-name-head,
  .table-task-name-data {
    width: 170px;
  }
  .proj-status-chart{
    flex-direction: column;
    
  }
  .proj-status-chart > div{
    width: 90%;
    margin: 0px auto;
  }
}

@media (max-width: 430px) {
  .task-create-modal {
    padding: 3px;
    padding-bottom: 7px;
  }
  .task-create-modal-form {
    margin-left: 2px;
    margin-right: 2px;
  }
  .task-create-modal-div {
    width: 100%;
  }

  .select-div {
    flex-direction: column;
  }
  .select-div div {
    width: 100%;
  }

  .duration-input,
  .duration-select {
    grid-column: span 1;
  }
  .task-create-modal-footer {
    justify-content: space-between;
    padding-right: 0px;
  }
  .view-task-modal-details {
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
  }
  .view-task-modal-details div {
    width: fit-content;
  }

}
@media (max-width: 350px) {
  .task-create-modal-form {
    margin-left: 2px;
    margin-right: 0px;
  }
  .task-create-modal-div {
    width: 300px;
  }
  .date-select-div {
    flex-wrap: wrap;
  }
  .date-select-div div {
    width: fit-content;
  }
  .select-div {
    flex-direction: column;
  }
  .select-div div {
    width: 100%;
  }

  .duration-input,
  .duration-select {
    grid-column: span 1;
  }
  .task-create-modal-footer {
    padding-left: 0px;
    justify-content: start;
    gap: 20px;
  }
  .table-footer{
    flex-direction: column;
  }
  .page-heading{
    font-size: 20px;
  }
  .proj-name{
    font-size: 16px;
  }
  .proj-id{
    font-size: 10px;
  }
  .proj-status{
    font-size: 10px;
  }
}
